@{
    ViewData["Title"] = "Contato";
}

<div class="jumbotron">
    <h1 class="display-4">Entre em contato!</h1>
    
    <p>
        <i class="fas fa-envelope"></i>
        <email endereco="JhonathanAraujoBR@Hotmail.com" conteudo="Enviar um e-mail"></email>
    </p>    
    
    <p>
        <i class="fas fa-phone"></i>
        (11) 9876-5432
    </p>
        
    <p>
        <i class="fas fa-home"></i>
        São Paulo - SP
    </p>
    
</div>