
@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container marginTop1">
    <div class="jumbotron">
        <p>
            <img src="~/images/acessonegado.png" alt="Acesso Negado" />
            <h2>Acesso Negado !</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
</div>


