@model HomeViewModel

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("_Carousel")

<h1 class="display-4 mt-1">Os lanches favoritos da semana</h1>

<div class="row">
    @foreach (var lanche in Model.LanchesFavoritos)
    {
        <partial name="_LanchesResumo" model="lanche" />
    }
</div>
